{% extends 'base.html' %}

{% block content%}

<!--<p class="fw-bold fs-4 my-3 fw-light fw-bolder">SIMPANAN</p>-->
 <div class="card shadow-sm my-3">
   <div class="card-header fw-bolder fs-6">
    SIMPANAN
  </div>
                <div class="card-body">

<a href="{% url 'create-akun'%}" class="btn btn-danger btn-sm mb-4 px-4"><i class="bi bi-plus-lg"></i> Tambah Data</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kode Aktiva</th>
      <th scope="col">Jenis Transaksi</th>
      <th scope="col">Akun</th>
      <th scope="col">Laba Rugi</th>
      <th scope="col">Pemasukan</th>
      <th scope="col">Pengeluaran</th>
      <th scope="col">Status</th>
      <th scope="col">Aksi</th>
    </tr>
  </thead>
  <tbody>
    {% for akun in data %}
    <tr>
      <th scope="row">1</th>
      <td>{{akun.kode_aktiva}}</td>
      <td>{{akun.jenis_transaksi}}</td>
      <td>{{akun.akun}}</td>
      <td>{{akun.laba_rugi}}</td>
      <td>{{akun.pemasukan}}</td>
      <td>{{akun.pengeluaran}}</td>
      <td>{{akun.aktif}}</td>
      <td class="d-flex p-2 gap-3">
        <a href="{% url 'edit-akun' akun.id %}" class="nav-link px-0"> <i class="bi bi-pencil-square"></i> </a>
        <a href="{% url 'delete-akun' akun.id %}" class="nav-link px-0"> <i class="bi bi-trash "></i> </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
                </div>
            </div>

{% endblock content%}