{% extends 'base.html' %} {% load crispy_forms_tags %}

<!-- begin block content -->
{% block content %}

<h1 class="app-page-title">Pengaturan</h1>
<hr class="mb-4" />
<div class="row g-4 settings-section">
  <div class="col-12 col-md-4">
    <h3 class="section-title">General</h3>
    <div class="section-intro">
      Settings section intro goes here. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. <a href="help.html">Learn more</a>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <div class="app-card app-card-settings shadow-sm p-4">
      <div class="app-card-body">
        <form method="post" novalidate>
          <!-- csrf  -->
          {% csrf_token %}
          <!-- form -->
          {{form|crispy}}
          <button type="submit" class="btn app-btn-primary">
            Save Changes
          </button>
        </form>
      </div>
      <!--//app-card-body-->
    </div>
    <!--//app-card-->
  </div>
</div>
<hr class="mb-4" />
<div class="row g-4 settings-section">
  <div class="col-12 col-md-4">
    <h3 class="section-title">Identitas Koperasidd</h3>
    <div class="section-intro">
      Pengaturan identitas Koperasi, silahkan update data koperasi
      <!-- <a href="help.html">Learn more</a> -->
    </div>
  </div>
  <div class="col-12 col-md-8">
    <div class="app-card app-card-settings shadow-sm p-4">
      <div class="app-card-body">
        <form class="settings-form" method="post" novalidate>
          <!-- begin loop -->
          {% for settings in data %}
          <div class="mb-3">
            <label for="setting-input-2" class="form-label"
              >{{settings.opsi_key|title}}</label
            >
            <input
              type="text"
              class="form-control"
              id="setting-input-{{forloop.counter}}"
              value="{{settings.opsi_val}}"
              required=""
            />
          </div>
          <!-- comment -->
          {%comment%} {{settings.opsi_key}} {{settings.opsi_val}}
          <!-- endcomment -->
          {% endcomment%}
          <!-- end looping -->
          {%endfor %}

          <button type="submit" class="btn app-btn-primary">
            Save Changes
          </button>
        </form>
      </div>
      <!--//app-card-body-->
    </div>
    <!--//app-card-->
  </div>
</div>

<!-- end block content  -->
{% endblock content %}
