{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content%}
<h1 class="app-page-title">{{module|title}}</h1>
<hr class="mb-4" />
<div class="row g-4 settings-section">
  <div class="col-12 col-md-4">
    <h3 class="section-title">Tambah data</h3>
    <div class="section-intro">
      Modul {{module}} digunakan untuk membuat, memperbaharui dan melihat data {{module}} <a href="{% url 'simpanan' %}">Lihat data {{module}}</a>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <div class="app-card app-card-settings shadow-sm p-4">
      <div class="app-card-body">
        <form class="settings-form" method="post" novalidate>
          <div class="mb-3">
            {% csrf_token %} {{form|crispy}}
          <button type="submit" class="btn app-btn-primary">
            Simpan 
          </button>
        </form>
      </div>
      <!--//app-card-body-->
    </div>
    <!--//app-card-->
  </div>
</div>


{% endblock content%}
