{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content%}
<div class="card shadow-sm my-3">
  <div class="card-header fw-bolder fs-6 d-grid gap-2 d-md-flex justify-content-between align-items-center">
      <p>{{action}}  Data {{modul}}</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{% url modul %}" class="btn btn-outline-danger   btn-sm  ">Data {{modul}}</a>
          </div>

  </div>
  <div class="card-body  ">

<form method="POST" novalidate>
 {% csrf_token %}
    {% comment %}
    {{form|crispy}}

    {% endcomment %}
    {% for field in form %}
	    		{{ field.label_tag }}
	        	{{ field }}
	        	{% if field.errors %}
	        		<small class="error">{{ field.errors|striptags  }}</small>
	        	{% endif %}
		{% endfor %}
    <div class="d-flex justify-content-between d-md-block">
    <button class="btn btn-danger btn-sm px-5" type="submit">Simpan</button>
    <button class="btn btn-outline-danger btn-sm px-5 " type="reset">Reset</button>
    </div>

</form>

  </div>
</div>



{% endblock content%}