{% extends 'base.html' %}


{% block content%}

<!--<p class="fw-bold fs-4 my-3 fw-light fw-bolder">SIMPANAN</p>-->
<h3 class="px-3 pt-3 ">User</h3>
<hr class="shadow-sm">
 <div class="card shadow-sm my-3">
                <div class="card-body">
<a href="{% url links.create %}" class="btn btn-danger btn-sm mb-4 px-4"><i class="bi bi-plus-lg"></i> Tambah Data</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama User</th>
      <th scope="col">Group </th>
      <th scope="col">Status </th>
      <th scope="col">Aksi</th>

    </tr>
  </thead>
  <tbody>
    {% for user in data %}
    <tr>
      <th scope="row">#</th>
      <td>{{user.username}}</td>

      <td>


{% for group in user.groups.all %}

          <button class="btn btn-success btn-sm"> {{ group.name }} </button>
          {% empty %}
          belum ada group
{% endfor %}

      </td>
        <th scope="col">

            {% if user.is_active%}
                aktif
            {% else %}
            tidak aktif
            {% endif%}
            </th>


      <td class="d-flex p-2 gap-3">

        <a href="{% url 'edit-users' user.id %}" class="nav-link px-0"> <i class="bi bi-pencil-square"></i> </a>

        <a href="{% url 'edit-group-users' user.id %}" class="nav-link px-0"> <i class="bi bi-people"></i> </a>

        <a href="{% url 'inactive_user' user.id %}" class="nav-link px-0">
            {% if user.is_active%}
                <i class="bi bi-eye"  data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right"></i> </a>
            {% else %}
            <i class="bi bi-eye-slash"></i></a>
            {% endif%}

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
                </div>
            </div>

{% endblock content%}